.card {
  padding: 20px;
  margin: 20px;
  width: 300px;
  float: center;
}
.grow {
  padding: 20px;
  margin: 20px;
  width: 300px;
  float: center;
  border-style: none;
  border-color: rgb(255, 216, 42);
}
img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.login-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5%;
}
.home-welcome {
  color: aliceblue;
  margin-left: 70%;
}
.home-logo {
  color: aliceblue;
  margin-left: 0%;
  font-size: x-large;
}
.container {
  background-color: rgb(255, 255, 255);
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
p {
  text-align: center;
}
.row-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.column-container {
  flex: 3;
  flex-basis: 33.3%;
  justify-content: center;
  text-align: center;
  display: inline-block;
}
.product-photo {
  width: 430px;
}
.display-4 {
  margin-right: 10px;
}
